.desktop {
    margin: 0 auto;
    width: 750px;
}

.bk {
    background-image: url(../images/bk.png);
    background-size: 100% 100%;
}

.header {
    background-image: url('../images/header.png');
    background-size: 100% 100%;
    height: 4.47rem;
}

body {
    left: 0;
    right: 0;
    position: relative;
}


/*prize*/

.prize {
    height: 1.71rem;
}

.prize div {
    background-image: url('../images/prize.png');
    background-size: 100% 100%;
    width: 100%;
    height: 1.25rem;
    top: 0.46rem;
}


/*prizeEnd*/


/*lottery*/

.lottery {
    height: 11.53rem;
    margin-top: 0.46rem;
}

.lottery .wrapper {
    width: 7.11rem;
    margin: 0 auto;
}

.lottery .title {
    height: 0.55rem;
    background-image: url('../images/goucheyoulititle.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}


/*.lottery div {
    width: 100%;
    height: 5.63rem;
    top: 0.59rem;
}*/


/*.lottery .beijing>img {
    width: 2.21rem;
    height: auto;
}*/

.lottery .dajiang {
    position: absolute;
    transition-property: top, left;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 2.21rem;
    height: 1.57rem;
    background-size: contain;
    z-index: 5;
}

.lottery .flip>div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
}

.beijing .img1 {
    top: 0.1rem;
    left: 0.12rem;
    transition-delay: 0.1s;
}

.beijing .img2 {
    top: 0.1rem;
    left: 2.45rem;
    transition-delay: 0.2s;
}

.beijing .img3 {
    top: 0.1rem;
    left: 4.77rem;
    transition-delay: 0.3s;
}

.beijing .img4 {
    top: 1.72rem;
    left: 0.12rem;
    transition-delay: 0.4s;
}

.beijing .dajiang.img {
    top: 1.72rem;
    left: 2.45rem;
    z-index: 1;
}

.beijing .img5 {
    top: 1.72rem;
    left: 4.77rem;
    transition-delay: 0.5s;
}

.beijing .img6 {
    top: 3.45rem;
    left: 0.12rem;
    transition-delay: 0.6s;
}

.beijing .img7 {
    top: 3.45rem;
    left: 2.45rem;
    transition-delay: 0.7s;
}

.beijing .img8 {
    top: 3.45rem;
    left: 4.77rem;
    transition-delay: 0.8s;
}

.lottery>img {
    display: block;
    width: 100%;
    height: auto;
}

.lottery .beijing {
    height: 5.08rem;
    background-color: #fdb247;
    position: relative;
    top: 0;
    left: 0;
}

.lottery .wrapper.active .flip .front {
    background-image: url(../images/dajiang_23.png)!important;
}

.lottery .wrapper.active .dajiang {
    top: 1.72rem;
    left: 2.45rem;
}

div.lottery .wrapper .dajiang.img {
    background-image: url(../images/dajiang.png)!important;
    backgroun-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

div.lottery .wrapper.hover .dajiang.img {
    background-image: url(../images/dajianghover.png)!important;
}

div.lottery .wrapper.over .dajiang.img {
    background-image: url(../images/goodluck.png)!important;
}

.lottery .wrapper.current .flip .front {
    background-image: url(../images/dajiang_23.png)!important;
}

.lottery .flip div {
    backface-visibility: hidden;
}

.lottery .wrapper.current .flip div {
    transition: all .4s ease-in-out;
    transform-style: preserve-3d;
}

.lottery .flip {
    perspective: 7.5rem;
}

.lottery .flip .back {
    transform: rotateY(180deg);
}

.lottery .flip.bingo .front {
    transform: rotateY(180deg);
}

.lottery .flip.bingo .back {
    transform: rotateY(360deg);
}


/*lotteryEnd*/


/*goucheyouli*/

.goucheyouli {
    height: 3.2rem;
}

.goucheyouli .posa {
    background-image: url(../images/goucheyouli.png)
}


/*goucheyouliEnd*/


/*yuehuirexiaoche*/

.yuehuirexiaoche {
    height: 2rem;
}

.yuehuirexiaoche .posa {
    background-image: url(../images/yuehuirexiaoche.png);
}


/*goucheyouliEnd*/


/*gift*/

.gift {
    height: 3.4rem;
}

.gift div {
    background-image: url('../images/goucheyouli.png');
    background-size: 100% 100%;
    width: 100%;
    height: 2.58rem;
    top: 0.49rem;
}


/*giftEnd*/


/*hot*/

.hot {
    height: 2.03rem;
}

.hot div {
    background-image: url('../images/hot.png');
    background-size: 100% 100%;
    width: 100%;
    height: 1.62rem;
    top: 0.24rem;
}


/*hotEnd*/


/*cityNav*/

.city-nav {
    /*margin-top: 0.28rem;*/
}

.city-nav ul {
    margin: 0 .2rem;
}

.city-nav ul li {
    float: left;
    width: 1.71rem;
    height: 0.71rem;
    margin: .05rem .03rem;
    text-align: center;
    line-height: 0.71rem;
    font-size: 0.328125rem;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}

.city-nav li.active {
    background-color: #fdb247;
    background-image: none!important;
    border-radius: 0.034rem;
}


/*cityNavEnd*/


/*.buycar*/

.buycar {
    margin: 0 0.02rem;
    overflow: hidden;
}

.windows .win {
    display: none;
}

.windows .win.active {
    display: block;
}

.buycar li,
.buycar .item {
    width: 3.4rem;
    height: 5.2rem;
}

.buycar li {
    float: left;
    margin: 0.15rem;
}

.buycar .item {
    background-color: #fff;
    position: relative;
    left: 0;
    top: 0;
}

.buycar .item .title {
    margin-top: 0.08rem;
    height: 0.64rem;
}

.buycar .item .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 0.54rem;
    height: 0.64rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.buycar .item .title .ads {
    margin-left: 0.55rem;
    width: 3rem;
    height: 0.64rem;
    font-size: 0.228916rem;
    padding-top: 0.08rem;
}

.ads .span3 {
    display: inline-block;
    margin-top: 0.1rem;
}

.ads .span1 {
    width: 1.62rem;
    border-radius: .20rem;
    border: 0.01rem solid #d1e8c5;
    font-weight: bold;
    padding: 0 .12rem;
    font-size: 0.2rem;
}

.ads .span2 {
    width: 1.27rem;
    border-radius: .20rem;
    border: 0.01rem solid #55a0e3;
    font-weight: bold;
    padding: 0 .12rem;
    font-size: 0.172rem;
}

.ads .span3 {
    font-weight: bold;
    color: #ff8e8e;
    padding: 0 0.1rem;
}

.buycar .car img {
    width: 100%;
    height: auto;
}

.buycar .name {
    height: 0.67rem;
    text-align: center;
    line-height: 0.67rem;
    font-size: 0.45325rem;
    font-weight: bold;
}

.buycar .price {
    height: 0.67rem;
    line-height: 0.67rem;
    font-size: 0.25325rem;
}

.price .down {
    width: 0.20rem;
    height: 0.26rem;
    margin-top: 0.24rem;
}

.price p {
    text-align: center;
}

.price .span1 {
    font-size: 0.35325rem;
    font-weight: bold;
}

.price .span2 {
    color: #ff5c5c;
}

.buycar .submit {
    width: 100%;
    height: 0.59rem;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 46% 50%;
    color: #fff;
}

.submit {
    font-size: 0.3259rem;
    font-weight: bold;
    line-height: 0.3259rem;
    padding-top: 0.09rem;
}

.buycar .number {
    width: 100%;
    height: 0.41rem;
    font-size: 0.32rem;
    line-height: 0.32rem;
    text-align: center;
    padding-top: 0.2rem;
}

.number span {
    font-weight: bold;
    color: #d15e09;
}

.buycar .xinnengyuan {
    width: 0.9rem;
    height: 0.9rem;
    position: absolute;
    right: 0;
    top: 2.26rem;
}

.fenye {
    height: 0.56rem;
    font-size: 0.2005rem;
    text-align: center;
}

.fenye .page {
    display: inline-block;
    margin: .290rem auto;
    overflow: hidden;
    height: 0.56rem;
    font-size: 0.2005rem;
    color: #1e2934;
    line-height: 0.56rem;
    text-align: center;
}

.fenye .page li {
    float: left;
    width: 0.54rem;
    height: 0.56rem;
    background-color: #fff;
    margin: 0 0.07rem;
}

.fenye .page .prev,
.fenye .page .next {
    width: 1.12rem;
    height: 0.56rem;
    color: #1e2934;
    background-color: #fff;
    line-height: 0.56rem;
    text-align: center;
}

.fenye .page li>a.active {
    background-color: #fd9d27;
    color: #fff;
}

.fenye .page li>a {
    width: 100%;
    height: 100%;
    display: inline-block;
}


/*.buycarEnd*/


/*yuehuimaiche*/

.yuehuimaiche {
    height: 1.05rem;
    background-image: url(../images/yuehuimaiche.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0.48rem;
    margin-top: 0.58rem;
}


/*yuehuimaicheEnd*/


/*yimaojia*/

.yimaojia {
    width: 7.13rem;
    height: 3.43rem;
    margin: 0.4rem auto;
    padding: 0.03rem;
    background-color: #000;
    font-size: 0.3rem;
}

.yimaojia>div {
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
}

.yimaojia .p1 {
    font-size: 0.4rem;
    color: #ff9228;
    font-weight: bold;
    padding-top: 0.38rem;
    padding-left: 0.16rem;
}

.yimaojia .p2 {
    font-size: 0.3rem;
    color: #3f9e0b;
    padding-top: 0.2rem;
    padding-left: 0.16rem;
    background-image: url(../images/down2.png);
    background-repeat: no-repeat;
    background-position: 0.13rem 0.23rem;
    background-size: 0.15rem;
}

.yimaojia .p3 {
    position: absolute;
    top: 1.59rem;
    left: 0.33rem;
    width: 0.72rem;
    height: 0.54rem;
}

.yimaojia .p4 {
    position: absolute;
    top: 1.59rem;
    left: 1.05rem;
    width: 1.72rem;
    height: 0.54rem;
    font-size: 0.5rem;
}

.yimaojia .p5 {
    position: absolute;
    top: 2.26rem;
    left: 0.33rem;
    width: 2.42rem;
    height: 0.35rem;
    font-size: 0.2rem;
    line-height: 0.35rem;
    border-top: dotted 2px #ff9228;
    border-left: dotted 2px #ff9228;
    border-right: dotted 2px #ff9228;
    text-align: center;
}

.yimaojia .p6 {
    position: absolute;
    top: 2.6rem;
    left: 0.33rem;
    width: 2.42rem;
    height: 0.44rem;
    font-size: 0.2rem;
    color: #fff;
    line-height: 0.2rem;
    border-right: solid 2px #d15e09;
    background-color: #ff9228;
    text-align: center;
}

.yimaojia .pink {
    color: #fd6d27;
    font-size: 0.26rem;
}

.yimaojia .p4 span:first-child {
    color: #ff3333;
}

.yimaojia .span1 {
    width: 3.05rem;
    height: 3.37rem;
    display: inline-block;
    background-color: #fff;
    font-size: 0.24rem;
}

.yimaojia .span1 .p3 span:last-child {
    font-size: 0.16rem;
    margin-left: 0.36rem;
}

.yimaojia .span1 .p4 span:last-child {
    font-size: 0.1rem;
}

.yimaojia .span2 {
    position: absolute;
    top: 0;
    right: 0;
}


/*yimaojiaEnd*/


/*goucheliucheng*/

.goucheliucheng {
    height: 3.52rem;
    background-image: url(../images/goucheliucheng.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}


/*goucheliuchengEnd*/

.maicheji {
    height: 1.72rem;
    background-image: url(../images/maicheji.png);
    background-repeat: no-repeat;
    background-size: 3.11rem;
    background-position: 50% 50%;
}


/*maichejiEnd*/


/*xinwen*/

.xinwen {
    width: 7.11rem;
    height: 9.62rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2rem;
}

.xinwen .maonvlang {
    height: 100%;
}

.xinwen .item {
    width: 3.35rem;
    height: 4.31rem;
    position: absolute;
    background-color: #000;
    padding: 0.02rem;
}

.xinwen .item.left {
    left: 0;
}

.xinwen .item.right {
    right: 0;
}

.xinwen .item.top {
    top: 0;
}

.xinwen .item.bottom {
    bottom: 0.6rem;
}

.xinwen .item>div {
    width: 100%;
    height: 0.52rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    text-align: center;
    line-height: 0.52rem;
    font-size: 0.2542rem;
    color: #fff;
}

.xinwen .item>img {
    width: 100%;
    height: auto;
}

.xinwen .next {
    width: 0.53rem;
    height: 0.92rem;
    background-color: #fff;
    margin-top: -0.5rem;
}

.xinwen .prev {
    width: 0.53rem;
    height: 0.92rem;
    background-color: #fff;
    margin-top: -0.5rem;
}


/*xinwenEnd*/


/*form*/

.form {
    font-size: 0.2345rem;
    margin-bottom: 1rem;
}

.form .kouhao {
    text-align: center;
    font-size: 0.4rem;
    color: #fff;
}

.kouhao .span1 {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.kouhao .span2 {
    font-size: 0.22rem;
    color: #fdb247;
    margin: 0.1rem 0;
}

.kouhao .span3 {
    font-size: 0.3rem;
    color: #fff;
    margin: 0.16rem 0;
}

.form .shouji {
    text-align: center;
    color: #fff;
}

.form .item {
    margin-bottom: 0.57rem;
    font-size: 0.2rem;
}

.form .item input,
select {
    height: 0.57rem;
    width: 4.77rem;
    color: #000;
    font-size: 0.23rem;
}

input[type="text"]:focus {
    border: solid 0.03rem #fdb247;
}

.form .item option {
    font-size: 0.091rem;
    ;
    width: 0.77rem;
}

.form .msg {
    width: 4.8rem;
    display: block;
    margin-left: 2rem;
    text-align: left;
    color: #eb3d41;
    display: none;
}

form .item.error .msg {
    display: block;
}

.form .item .title {
    width: 1.17rem;
    display: inline-block;
}

.form .submit {
    width: 3rem;
    height: 0.518rem;
    background-color: #ff9228;
    border-bottom: solid 0.02rem #d15e09;
    font-size: 0.23rem;
    line-height: 0.23rem;
    padding: 0;
    border-top: solid 0rem;
    border-left: solid 0rem;
    border-right: solid 0rem;
}

.form .kefu {
    font-size: 0.3rem;
    color: #ff9228;
    font-weight: bold;
    margin-top: 0.6rem;
    display: inline-block;
}


/*formEnd*/


/*pop*/

.pop.active {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}

.pop {
    z-index: 10;
    display: none;
}

.pop .wrapper {
    width: 5.48rem;
    position: fixed;
    top: 2.67rem;
    left: 1.01rem;
    background-color: #fff;
    border-radius: 0.02rem;
}

.pop .footer {
    font-size: 0.2rem;
    width: 4rem;
    margin: 0.31rem auto;
}

.pop .title {
    margin-top: 0.87rem;
    font-size: 0.3rem;
}

.pop .title p {
    margin: 0.2rem 0.35rem;
}

.pop .title span {
    padding: 0.3rem 0;
    line-height: 0.4rem;
    font-size: 0.19rem;
}

.pop .tuchu {
    color: #ff9228;
}

.pop .huojiangxinxi {
    width: 1.99rem;
    height: 1.77rem;
    background-image: url(../images/huojiangxinxi.png);
    position: absolute;
    top: -0.89rem;
    left: 1.81rem;
    background-size: cover;
}

.pop .baomingchenggong {
    width: 1.99rem;
    height: 1.77rem;
    background-image: url(../images/baomingchenggong.png);
    position: absolute;
    top: -0.89rem;
    left: 1.81rem;
    background-size: cover;
}

.pop .choujiangbaoming {
    width: 1.99rem;
    height: 1.77rem;
    background-image: url(../images/choujiangbaoming.png);
    position: absolute;
    top: -0.89rem;
    left: 1.81rem;
    background-size: cover;
}

.poplipinguize .twosides li {
    float: left;
    width: 2.57rem;
    color: #12191f;
    font-size: 0.19rem;
    margin-top: 0.2rem;
}

.poplipinguize .oneside li {
    color: #12191f;
    font-size: 0.19rem;
    margin-top: 0.2rem;
}

.poplipinguize .content {
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}

.poplipinguize .zixun {
    color: #888888;
}

.poplipinguize .tel {
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    color: #eb3d41;
}

.poplipinguize .footer {
    margin-top: 0.3rem;
    text-align: center;
}

.pop .lipinguize {
    width: 1.99rem;
    height: 1.77rem;
    background-image: url(../images/lipinguize.png);
    position: absolute;
    top: -0.89rem;
    left: 1.81rem;
    background-size: cover;
}

.pop .close {
    width: 0.28rem;
    height: 0.28rem;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.poplipinguize {
    font-size: 0.03rem;
}

.pop .jiangpinmingxi {
    margin-top: 1rem;
}

.poplipinguize .jiangpinmingxiitem {
    width: 2.75rem;
    float: left;
}

.poplipinguize .pblock {
    margin-left: auto;
    margin-right: auto;
    width: 5.19rem;
}

.pop .titlename {
    font-size: 0.34rem;
    color: #fdb247;
}

.pop .red {
    width: 0.28rem;
    height: 0.28rem;
    background-image: url(../images/red.png);
    display: inline-block;
    background-size: cover;
}

.pop .zhuazhumaolaoda {
    width: 4.18rem;
    height: 3.98rem;
    background-image: url(../images/zhuazhumaolaoda.png);
    background-size: cover;
    margin: 0 auto;
    position: relative;
    top: 0;
    right: 0;
}

.pop .zhuazhumaolaoda .button {
    width: 2.05rem;
    height: 0.69rem;
    position: absolute;
    top: 3.15rem;
    left: 1.05rem;
}

.pop .queren {
    height: 0.83rem;
    background-color: #ff9228;
    color: #fff;
    text-align: center;
    line-height: 0.83rem;
    font-size: 0.4rem;
}

.pop form {
    font-size: 0.28rem;
}

.pop option {
    font-size: 0.01rem;
}

.pop form li {
    width: 5.02rem;
    margin: 0.25rem auto;
}

.pop form .label {
    font-size: 0.25rem;
    width: 1.09rem;
    display: inline-block;
    text-align: right;
}

input:focus,
select:focus {
    border: solid 1px #f8ae44;
}

.pop input[type="radio"] {
    width: 0.22rem;
    height: 0.22rem;
}

.pop .radio {
    margin-right: 0.4rem;
}

.pop .msg {
    padding-left: 1.19rem;
    font-size: 0.2rem;
    color: #eb3d41;
    display: none;
}

form .item.error .msg {
    display: block;
}

form .item.error select,
form .item.error input {
    border: 1px solid #eb3d41;
}

.pop form input,
.pop form select {
    width: 3.84rem;
    font-size: 0.27rem;
    border: solid 1px;
}

form input,
form select {
    border: 1px solid
}

.pop .shadow {
    width: 100%;
    height: 100%;
}


/*popEnd*/


/*logos*/

.pblock .logos {
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
    overflow: hidden;
    width: 7.03rem;
    margin: 0 auto;
}

.logos ul {
    border: 0.05rem solid #000;
    overflow: hidden;
}

.logos ul li {
    float: left;
    width: 1.15rem;
    height: 1.12rem;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    background-color: #fff;
}

.logos ul li .imgwrapper {
    width: 100%;
    height: 0.76rem;
    background-color: #fff;
}

.logos ul li .logoname {
    height: 0.36rem;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.2rem;
    background-color: #fff;
}

.logos ul li:nth-child(6n) {
    border-right: 0px;
}


/*logosEnd*/