body {
    height: auto;
}

.pcontainer {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
}

.pblock {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}

.posa {
    position: absolute;
    left: 0;
    top: 0;
}

.posa * {
    width: 100%;
}